body {
  margin: 0
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center
}


.justify-content-center {
  justify-content: center
}

.acc-hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.acc-hero--video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.acc-hero--content {
  position: relative
}


.acc-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #0F0F35;
  width: 290px;
  height: 100%;
  z-index: 9;
  transform: translate(-100%, 0);
  transition: 0.2s transform ease-in-out;
  ul {
    list-style: none;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    padding: 0 20%;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  li {
    margin: 35px 0;
  }
  @media(min-width: 768px) {
    width: 420px;
  }
  .acc-nav--open & {
    transform: translate(0, 0);
  }
}

.acc-nav--button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 96px;
  height: 96px;
  background-color: #DDC624;
  z-index: 10;
  border: none;
  cursor: pointer;
  > span {
    height: 2px;
    width: 44px;
    margin: 11px auto;
    display: block;
    background-color: #222222;
  }
}
